<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_plgRNaLr_q7lamIcJRoZDS34ow6upoY</string>
	<key>GCM_SENDER_ID</key>
	<string>1071606346939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.saffin.SportsTracker</string>
	<key>PROJECT_ID</key>
	<string>sportstracker-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>sportstracker-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071606346939:ios:38153b05146a83b30fe59e</string>
</dict>
</plist>